@import url(https://fonts.googleapis.com/css2?family=Rubik&display=swap);
body {
  font-family: rubik;
}

/* Navbar */
.navbar {
  position: relative;
  z-index: 1;
}
.navbar-brand {
  font-size: 30px;
}

.carousel-item {
  height: 700px;
}
.carousel-item img {
  margin-top: -70px;
}
.carousel-item .display-4 {
  z-index: 1;
  position: relative;
  margin-top: -380px;
  font-size: 70px;
}

@media (min-width: 992px) {
  .nav-link {
    text-transform: uppercase;
    margin-right: 30px;
  }
}
